<?xml version="1.0" ?>
<model>
  <name>hover_chair</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Tu Nombre</name>
    <email>tuemail@ejemplo.com</email>
  </author>
  <description>
    Modelo de la silla flotante del Profesor X.
  </description>
</model>